$corDeFundo: #040714;
$backgroundSection: #0e0b14;
$corTextoPrincipal: silver;
$corTextoSecundaria: #f9f9f9;
$buttonBackgroundPrimary: #6421ff;
$buttonBackgroundSecondary: #0063e5;
$buttonBackgroundDark: #000;
$borderMobile: #272727;