@use 'color';
@use 'fonts';

.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        @media (max-width: 768px) {
            section {
                padding: 10vw 5vw;
                text-align: center;
            }

            .faq__questions__item__question, .faq__questions__item__answer{
                font-size: 16px;
            }

            ul {
                padding-left: 40px;
            }

            ul:first-child {
                li {
                    list-style: disc;
                    line-height: 30px;
                }
            }

            
        }
        &__item {
            background-color: #13151d;
            margin-bottom: 16px;
            
            &__question {
                position: relative;
                color: color.$corTextoSecundaria;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                font-family: Avenir-bold;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;

                    @media (max-width:768px) {
                        font-size: 36px;
                    }
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: ease-in-out, 1s ease;

                &__link {
                    text-decoration: underline;
                    color: color.$corTextoSecundaria;
                    font-weight: bolder;
                }

                &__list {
                    padding: 24px;
                    
                    li {
                        transition: ease-in, 1.5s ease;
                        line-height: 40px;
                    }
                }
            }

            &--is-open {
                .faq__questions__item__question::after {
                        content: '-';
                        position: absolute;
                        top: 0;
                        right: 24px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-size: 40px;
                }

                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, 0.5s ease;
                }    
            }
        }
    }
}