@use 'color';

.footer {
    padding-top: 126px;
    background-color: color.$backgroundSection;

    @media (max-width:768px) {
        padding: 26px 46px;
    }

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 8px;

        @media (max-width: 768px) {
            .first {
                padding-top: 36px;
            }
        }

        &__companies {
                display: flex;
                flex-direction: row;
                text-align: center;
                padding-top: 36px;

                @media (max-width:768px) {
                    display: block;
                    border-top: 1px solid color.$borderMobile;
                    text-align: left;

                    li {
                        line-height: 40px;
                    }
                }

                li {
                    list-style: none;
                    color: color.$corTextoSecundaria;
                    margin: 0 auto;

                    a {
                        text-decoration: none;
                        color: color.$corTextoSecundaria;
                    }
                }
        }
    }

    &__logo {
        width: 80px;
        margin: 0 auto 10px;
        padding-top: 26px;

        @media (max-width:768px) {
            width: 120px;
        }
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        margin: 0 auto;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }

        &__item {
            text-align: left;

            li {
                list-style: none;
                line-height: 45px;
                
                a {
                    text-decoration: none;
                    color: color.$corTextoSecundaria;

                    &:hover {
                        color: color.$corTextoPrincipal;
                    }
                }
            }
        }

        .title--links {
            color: color.$corTextoSecundaria;
        }
    }
}

.language-selector {
    text-align: left;
    padding-bottom: 26px;
    display: flex;
    align-items: center;

    img {
        height: 18px;
        width: 18px;
    }

    select {
        background-color: transparent;
        color: color.$corTextoPrincipal;
        border: none;
        cursor: pointer;

        &:hover {
            color: color.$corTextoSecundaria;
        }

        option {
            color: color.$corDeFundo;
        }
    }
}