@use 'color';
@use 'mixins';
@use 'hero';
@use 'shows';
@use 'fonts';
@use 'plans';
@use 'watch-anywhere';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body {
    background-color: color.$corDeFundo;
}

.text--big {
    @include mixins.text(18px);
}

.text {
    @include mixins.text;
}

.text--small {
    @include mixins.text(12px);
}

.title--big {
    @include mixins.title(44px);
}

.title {
    @include mixins.title;
}

.title--small {
    @include mixins.title(28px);
}

.link-text {
    @include mixins.text(18px);
    color: color.$corTextoSecundaria;
    text-decoration: underline;
}

.button--purple {
        display: block;
        width: 100%;
        height: 60px;
        margin-top: 2vw;
        margin-bottom: 8px;
        font-size: 18px;
        color: color.$corTextoSecundaria;
        background-color: #6421ff;
        border: none;
        text-transform: uppercase;
        border-radius: 4px;
        cursor: pointer;
}